.footer-container {
    background-color: #383838;
    padding: 41px;
    color: white;
    .footer-row {
        width: 70%;
        margin: auto;
    }
    .heading {
        color: white;
        font-weight: bold;
    }
    .subs {
        margin-top: 15px;
        font-size: 13px;
        color: gray;
        .col-md-12 {
            padding: 10px 0px;
        }
        .store {
            display: flex;
            align-items: center;
            width: 70%;
            border: 1px solid #656565;
            padding: 6x;
            margin: 16px 0px;
            border-radius: 5px;
            img {
                width: 30px;
                margin: 0 10px;
                height: 30px;
            }
        }
    }
}